.Form{
    width: fit-content;
    padding: 20px;
    background-color: #8CC0DE;
    border-radius: 10px;
    
}
.field{
      display: block;
      direction: ltr; 
}
.contain {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#but{
    margin-top: 10px;
    border-color:#8CC0DE;
    border-radius: 5px;
    margin-left: 3.5rem;
    /* ddd */

}

#Already{
     color: black;
     text-decoration: none;
     font-size: large;
     display: block;
     text-align: center;
}